# Byte-compiled / optimized / DLL files
.*/

# C extensions
__pycache__/

# Asset images
assets/**/*.jpg
assets/**/*.png
assets/**/*.tif

# Temporary/cached directories starting with an underscore
**/_*/

# Heavy processing results and datasets
results/predictions/
results/datasets/